@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body {
  margin: 0;
  padding: 0px 100px;
  background: #ffffff;
  /* width: 100vw;
  height: 100vh; */
  /* box-sizing: border-box; */
  font-family: 'Poppins';
}

* {
  margin: 0;

}
a:link,
a:visited'
a:active {
  text-decoration: none;
}
.navigation {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  /* justify-content: space-between; */
  align-items:center;
}
.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;

}
.edulearn {
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
}
span {
  color:  #9179f5;
}
.navigation--links {
  display: flex;
  flex-direction: row;
  width: 400px;
  height:50px;
  list-style: none;
  justify-content: space-around;
  margin-left: 200px;
  margin-right:200px;
  align-items: center;

}

.navigation--link {
  position:relative;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  color : #000000;
  transition : all 0.2s ease-in;
}

.navigation--link:hover {
  color:  #9179f5;


}
.navigation--link-active {
   color:  #9179f5;
}
.navigation--link-active::after {
  content:"";
  position: absolute;
  bottom: -5px;
  left: calc(50% - 3px);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #9179f5;
}
.navigation--link-item {
  padding: 0 25px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins';
  font-style: normal;
  line-height: 18px;
  color: #9179F5;
  width: 140px;
  height: 50px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 25px;
  /* margin-left: 80px; */
  cursor: pointer;
  margin-top: 10px;
  background: #FFFFFF;
  border: 1.5px solid #9179F5;
  box-shadow: 0px 5px 60px 5px rgba(145, 121, 245, 0.15);
  text-decoration: none;
  margin-left: 0;
  padding-left: 31px;
  padding-right: 44px;
  }

/* ul {
  flex-grow: 1;
} */

.hero-section {
    margin: 0;
}
.hero-box1 {
    display: flex;
    /* align-items: flex-start; */
    justify-content: space-between;
    padding: 40px 0px;

}
.left-box {
    margin-left: 0;
    padding: 0;
    width: 656.95px;
    height: 644.99px;
    justify-content:flex-end;

}
.learn {
  padding-bottom: 20px;
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 80px;
color: #171B26;
}
.enroll {
    background: #6C60E0;
    border-radius: 30px;
    text-decoration: none;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    margin-left: 0;

    color: #FFFFFF;

}
.left-para {
    margin-bottom: 30px;
    border-left: 2px solid #646879;
    padding-left: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    color: #646879;
}
.video {
  position: relative;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  padding-right: 80px;
  align-items: center;
  align-content: space-between;
}
.video-img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-left: 20px;

  /* background: url(.jpg); */
  box-shadow: 0px 5px 40px 5px rgba(108, 96, 224, 0.15);
}
.play-button {
  width: 20px;
  height: 20px;
  border-radius: 20px;
background: #FFFFFF;
box-shadow: 0px 4px 40px 5px rgba(0, 0, 0, 0.15);
}
.play-button2 {
  width: 8px;
height: 8px;
background: #6C60E0;
border-radius: 0.4px;
transform: rotate(90deg);
}
.video img:nth-child(2){
  z-index: 1;
}
.video img:nth-child(3){
  z-index: 2;
}

.watch-para {

  width: 71px;
  height: 32px;
  margin-left: 25px;
  align-items: center;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #171B26;
}


.expert-mentors {
  width: 136px;
  height: 60px;
  left: 1205px;
  top: 566px;
  background: #FFFFFF;
  box-shadow: 0px 4px 60px 5px rgba(109, 97, 224, 0.2);
  border-radius: 6px;
  align-self: flex-start;
}
.expert-mentors-img {
  width: 25px;
height: 25px;
  display: flex;
}
.right-box {
  position: absolute;
width: 656.95px;
height: 644.99px;
left: 754px;
top: 105px;
  background: url(Untitled-1000.png);
}




.header-img {
  /* border-radius: 200px; */
  width: 528px;
  height: 528px;
  /* left: 913px;
   top: 203px; */
background: url(Untitled-1000.png);
}

.header-img div:first-child {
  /* z-index: 1; */

}
.header-img div:nth-child(3){
  z-index: 2;
}
.header-img::before {
      content: '';
      position: absolute;
      left: -50px;
      top: 50px;
      width: 18px;
      height: 18px;
      /* border: 50px solid transparent; */
      /* border-top-color: purple; */
      background: #9179F5;
      transform: rotate(135deg);
    }
.header-img::before {
      content: '';
      position: absolute;
      /* left: -50px;
      top: 90px; */
      width: 15px;
      height: 15px;
      left: 892px;
      top: 351px;
      background: #9179F5;
      /* border: 50px solid transparent; */
      /* border-top-color: purple; */
      background: #9179F5;
      transform: rotate(135deg);
    }
.header-img::before {
      content: '';
      /* position: absolute; */
      background-image: url('assets/teaching.png');
      left: -80px;
      top: 50px;
      width: 60px;
      height: 60px;
      left: 763px;
      top: 431px;
    }

    .header-img::after {
          content: '';
          position: absolute;
          background-image: url('assets/Group 5.png');
          left: -50px;
          top: 50px; */
          width: 60px;
          height: 60px;
          /* left: 763px;
          top: 431px; */
        }
    .header-img::before {
          content: '';
          position: absolute;
          left: -50px;
          top: 50px;
          width: 18px;
          height: 18px;
        }
.hero-box2 {
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */

}
.boxes {
  /* width: 112.95px;
  height: 30px; */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}
.boxes h2 {
  position: absolute;
  width: 329px;
  height: 76px;
  left: 100px;
  top: 808px;
  font-weight: bold;
}
