@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

@@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("./font/poppins-regular-webfont.woff") format("woff") ,
      url("./font/poppins-regular-webfont.woff2") format("woff2");
}

html,body {

}
body {
  margin: 0;
  padding: 0px 100px;
  background: #F5F5F5;
  /* width: 100vw;
  height: 100vh; */
  /* box-sizing: border-box; */
  font-family: 'Poppins';
}

* {
  margin: 0;
  box-sizing: border-box;

}
a:link,
a:visited'
a:active {
  text-decoration: none;
}
.navigation {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  justify-content: space-between;
  align-items:center;
}
.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;

}
.edulearn {
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
}
span {
  color:  #9179f5;
}
.navigation--links {
  display: flex;
  flex-direction: row;
  width: 400px;
  height:50px;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;

}

.navigation--link {
  position:relative;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  color : #000000;
  transition : all 0.2s ease-in;
}

.navigation--link:hover {
  color:  #9179f5;


}
.navigation--link-active {
   color:  #9179f5;
}
.navigation--link-active::after {
  content:"";
  position: absolute;
  bottom: -5px;
  left: calc(50% - 3px);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #9179f5;
}
.navigation--link-item {
  padding: 0 25px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins';
  font-style: normal;
  line-height: 18px;
  color: #9179F5;
  width: 140px;
  height: 50px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 25px;
  /* margin-left: 80px; */
  cursor: pointer;
  margin-top: 10px;
  background: #FFFFFF;
  border: 1.5px solid #9179F5;
  box-shadow: 0px 5px 60px 5px rgba(145, 121, 245, 0.15);
  text-decoration: none;
  margin-left: 0;

  }

/* ul {
  flex-grow: 1;
} */

.hero-section {
    margin: 0;
}
.hero-box1 {
    display: flex;
    /* position: relative; */
    /* align-items: flex-start; */
    justify-content: space-between;
    padding: 54px 0px;


}
.left-box {
    margin-left: 0;
    width: 50%;
    padding-right: 100px;
    /* position: relative; */
    top: 0;
    left: 0;
}
.learn {
  padding-bottom: 20px;
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 50px;
line-height: 80px;
color: #171B26;

}
.enroll {
    background: #6C60E0;
    border-radius: 30px;
    width: 200px;
    height: 60px;
    text-decoration: none;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    margin-left: 0;
    padding: 0;

    color: #FFFFFF;

}
.left-para {
    margin-bottom: 30px;
    border-left: 2px solid #646879;
    padding-left: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 34px;
    color: #646879;
}
.video {
  position: relative;
  display: flex;
  flex-direction: row;
  padding-right: 80px;
  align-items: center;
  align-content: space-between;
}
.video-img {
  position: absolute;
  left: 45%;
  bottom: 0;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-left: 20px;
  align-items: baseline;
  box-shadow: 0px 5px 40px 5px rgba(108, 96, 224, 0.15);
}
.play-button {
  position: absolute;
  left: 62%;
  bottom: 30%;
  width: 20px;
  height: 20px;
border-radius: 20px;
background: #FFFFFF;
box-shadow: 0px 4px 40px 5px rgba(0, 0, 0, 0.15);
}

.video img:nth-child(2){
  z-index: 1;
}
.video img:nth-child(3){
  z-index: 2;
}

.watch-para {
  position: absolute;
  left: 65%;
  bottom: 25%;
  width: 71px;
  height: 32px;
  margin-left: 25px;
  align-items: center;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #171B26;
}

.right-box {
position: relative;
width: 50%;
height: 553.99px;


}
.background {
  position: absolute;
  bottom: 0%;
  right: 10%;
  z-index: -1;
}
.background  img {
  width: 500px;
}
.header-img {
  position: absolute;
  bottom: 0%;
  right: 10%;
  z-index: 1;
}
.header-img img {
  width: 428px;
  height: 460px;
  border-bottom-right-radius: 300px;

}


.circle {
position: absolute;
width: 15px;
height: 15px;
left: 55%;
bottom: 85%;
border-radius: 15px;
background: #9179F5;
}

.circle2 {
  position: absolute;
width: 12px;
height: 12px;
left: 15%;
top: 40%;
border-radius: 12px;
background: #9179F5;
}

.square {
  display: flex;
  align-items: center;
  position: relative;
  width: 215px;
  height: 60px;
  left: -15%;
  top: 20%;
  background: #FFFFFF;
  box-shadow: 0px 4px 60px 5px rgba(109, 97, 224, 0.1);
  border-radius: 30px
}
.teacher {
  background: #3CC1FE;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.teacher img {
  width: 30px;
  height: 30px;
}
.hundred h1{
width: 47px;
height: 26px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 26px;
/* identical to box height, or 130% */
color: #646879;
}
.hundred p{
  width: 103px;
  height: 18px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */
  color: #646879;
}
.square2 {
  display: flex;
  position: relative;
  width: 136px;
  height: 60px;
  left: 65%;
  top: 60%;
  background: #FFFFFF;
  box-shadow: 0px 4px 60px 5px rgba(109, 97, 224, 0.2);
  border-radius: 6px;
  padding: 2px;
  z-index: 1;
  }
.teacher2 {
  width: 50px;
  height: 50px;
  background: #FF7F6E;
border-radius: 50px;
    margin-right: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.teacher2 img {
  width: 25px;
  height: 25px;
}
.teacher2 h1{
  width: 33px;
height: 26px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 26px;
color: #646879;
}
.teacher2 p{
  width: 58px;
height: 18px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
color: #646879;
}

.green {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 70%;
  bottom: 70%;
}

.teaching {
  position: absolute;
width: 60px;
height: 60px;
left: -5%;
bottom: 40%;
}
.square3 {
position: absolute;
width: 12px;
height: 12px;
left: 0%;
bottom: 30%;
background: #9179F5;
transform: matrix(0.93, 0.38, -0.38, 0.93, 0, 0);
}
.triangle {
  position: absolute;
border-left: 7px solid transparent;
border-right: 7px solid transparent;
border-top: 10px solid #9179F5;
left: 30%;
top: 10%;
transform: rotate(315deg);

}


.hero-box2 {
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */

}
.boxes {
  /* width: 112.95px;
  height: 30px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}
.trusted {
  width: 329px;
  height: 76px;
  left: 100px;
  top: 808px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  color: rgba(23, 27, 38, 0.7);
}

.imagesites {
  width: 75.97px;
  align-items: center;
}

.google {
  font-weight: 700;
  font-size: 2.125rem;
  font-family: product sans;
}
.g {
  color: #3780FF;
}
.o {
  color: #FA3913;
}
.oo {
   color: #FCBD06;
}
.l {
  color:  #38B137;
}

.hero-box3 {
  display: flex;
margin-top: 123px;
justify-content: space-between;
}

.man-pointing {
  position: relative;
  width: 160px;
  height: 260px;
  border-radius: 80px;
  background: #CFA3FF;
  padding-top: 15px;
  margin-right: 3px;
  margin-bottom: 11px;
  align-self: flex-start;
  display: flex;
  align-items: baseline;
  justify-content: center;

}
.man-pointing img {
  position: absolute;
}
.inside-comment {
position: absolute;
width: 96px;
height: 43px;
background: #FFFFFF;
box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.15);
}

.pointer {
  position: absolute;
 width: 18px;
height: 18px;
 border-left: 20px solid transparent;
 border-right: 20px solid transparent;
 border-top: 20px solid #FFFFFF;
left: 40%;
top: 5.7%;
}
.inside-comment h3 {
width: 64px;
height: 16px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 16px;
color: rgba(23, 27, 38, 0.7);
}

.inside-comment p {
width: 60px;
height: 10px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 6px;
line-height: 10px;
color: rgba(23, 27, 38, 0.7);
}

.stars img {
width: 6px;
height: 6px;
background: #FFC007;
}
.man-folding {
  width: 123px;
  height: 237px;
align-items: flex-end;
background: #FFB741;
border-radius: 80px;
padding: 19px 24px 0px 13px;
align-self: flex-end;
display: flex;
align-items: baseline;
justify-content: center;
}

.online-box {
  padding: 20px 0px;
}

.inside-box1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 34px;
}

.inside-box2 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
width: 400px;
height: 80px;
background: #FFFFFF;
box-shadow: 0px 4px 200px 5px rgba(0, 0, 0, 0.15);
border-radius: 10px;
align-items: center;
 margin: 20px;
padding: 10px;
/* width: 400px;
height: 80px; */
}

.platform {
  border-left: 1.5px solid #000000;
  height: 160px;
  padding-left: 58px;

}
.platform h2 {

width: 260px;
height: 120px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 40px;
color: rgba(23, 27, 38, 0.7);
}
.platform p {
  width: 324px;
height: 56px;
/* left: 586px;
top: 1114px; */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
color: rgba(23, 27, 38, 0.7);
}
.online-box3 {

}
.open {
width: 60px;
height: 60px;
background: #43DDEC;
border-radius: 5px;
display: flex;
justify-content: center;
align-items: center;
margin-right: 15px;

}

.cirriculum h2 {
width: 117px;
height: 20px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
}

.cirriculum p {
width: 308px;
height: 32px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 16px;
color: rgba(23, 27, 38, 0.7);
}


.open2 {
width: 60px;
height: 60px;
background: #FFD66E;
border-radius: 5px;
display: flex;
justify-content: center;
align-items: center;
margin-right: 15px;
}

.open3 {
width: 60px;
height: 60px;
background: #FF8878;
border-radius: 5px;
display: flex;
justify-content: center;
align-items: center;
margin-right: 15px;
}
