@media (max-width: 84em) {
  ..hero-section {
    max-width: 120rem;
  }
  .learn {
    font-size: 4.4rem;
  }

}

@media (max-width: 600px) {


@keyframes showMenu {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.2);
  }
  100% {
    transform: scaleY(1);
  }
}

.navigation ul {
  list-style-type: none;
  display: flex;
  flex-flow: column nowrap;
}

.navigation li{
  padding: 0.5rem;
  border-top: 1px solid whitesmoke;
}
.navigation a {
  display: block;
  text-align: center;
  width: 80%;
  margin: auto;
}
.navigation a:any-link {
  color: whitesmoke;
  font-weight: bold;
  text-decoration: none;
}
.navigation a:hover,
 .navigation a:focus {
   transform: scale(1.2);
   transition: all 0.3s;
 }
}
